
#s3devToolBar {
    display: flex;
    white-space: nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#s3devFindLabel {
    display: flex;
}

#s3devFindLabel>span:first-child {
    margin-left: 1.5em;
    margin-right: 1em;
    font-weight: bold;
    font-size: 0.625rem;
    user-select: none;
    cursor: default;
    white-space: nowrap;
    padding-top: 2px;
}

/* Wrapper around find button and drop down */
#s3devFind {
    height: 2rem;
    overflow: visible;
    /*margin-left:3em;*/
    position: relative;
}

/* Find Input Box */
#s3devInp {
    background: rgba(255, 255, 255, 0.5);
    border-radius: calc(0.5rem / 2);
    font-size: .75rem;;
    font-weight: bold;
    padding: 0.4em;
    z-index: 2;
    position: relative;

    border: 1px solid hsla(0, 0%, 0%, 0.15);
    /*height: 30px;*/
    /*bottom: 5px;*/

    min-width: 100%;
    box-sizing: border-box;
}

/* Drop down from find button */
div#s3devDDOut {
    z-index: 100;
    top:-6px;
    left:0;
    width: 16em;
    position: relative;
    /*padding: 2.2em 0 0;*/
    /*background-color: white;*/
    padding: 4px;
}

/* Drop down from find button */
ul#s3devDD {
    display: none;
    position: relative;
    padding: 0.2em 0;
    font-size: 0.75rem;
    line-height: 1;
    overflow-y: auto;
    min-height: 128px;
    max-height: 65vh;
    user-select: none;
    max-width: 100%;
}

div#s3devDDOut.vis {
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.3), 0 5px 8px rgba(0,0,0,0.2);*/
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .3);
    background-color: white;
    border: none;
    border-radius: 4px;
}

div#s3devDDOut.vis ul#s3devDD {
    display: block;
    border: none;
}

/* Drop down items */
#s3devDD>li {
    display: block;
    padding: 0.5em 0.3em;
    white-space: nowrap;
    margin: 0;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

#s3devDD>li>b {
    background-color: #aaffaa;
    color: black;
}

/* Drop down items */
#s3devDD>li:hover, #s3devDD>li.sel {
    color: white;
    cursor: pointer;
}

#s3devDD>li::before {
    content: '● ';
}

.define {
    color: rgb(255, 102, 128);
}

.flag {
    color: #4CBF56;
}

.receive {
    color: rgb(255, 191, 0);
}

.event {
    color: rgb(255, 191, 0);
}

.var, .VAR {
    color: rgb(255, 120, 26);
}

.list, .LIST {
    color: rgb(255, 102, 26);
}

.define:hover, .define.sel {
    background-color: rgb(255, 102, 128);
}

.flag:hover, .flag.sel {
    background-color: #4CBF56;
}

.receive:hover, .receive.sel {
    background-color: rgb(255, 191, 0);
}

.event:hover, .event.sel {
    background-color: rgb(255, 191, 0);
}

#s3devColorPickerHexinput {
    font-size: 15px;
}

#s3DevHexColorOutput {
    color: red;
    font-size: 13px;
.var:hover, .var.sel, .VAR:hover, .VAR.sel {
    background-color: rgb(255, 120, 26);
}

.list:hover, .list.sel, .LIST:hover, .LIST.sel {
    background-color: rgb(255, 102, 26);
}

#s3devOverlay {
    position:fixed;
    top:0;left:0;
    right:0;bottom:0;
    background-color: rgba(80,80,80,0.5);
    z-index: 9999;
    padding:10em;
    color:white;
    font-weight: bold;
}

#s3devMulti {
    font-weight: normal;
    position: absolute;
    right: 0;
    white-space: nowrap;
    background-color: inherit;
    z-index: 1;
    padding: 0;
}

.s3devNav {
    padding: 0 6px;
}

.s3devNav:hover {
    color: #ffff80;
}

#s3devDeep {
    margin-left: 1em;
    display: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
}

#s3devCleanUp {
    margin-left: 1em;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
}